<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<button onclick="login()">login</button>
<button onclick="logout()">logout</button>
<button onclick="getAllBk()"> get all bk</button>
<button onclick="addBk('ggbet', 'https://ggbet.ru')">add bk</button>
<button onclick="addBkAcc('https://ggbet.ru')">add bk acc</button>
<button onclick="setSettings()">setSettings</button>
<button onclick="setBkAccSettings()">setBkAccSettings</button>

<button onclick="setBkAccBalance(142, 1500.2)">set bk acc balance</button>
<button onclick="addBet()">addBet</button>
<button onclick="getBets()">get all bets</button>
<button onclick="getBetsSingle()">get single bk account bets</button>
<button onclick="addFork()">add fork</button>
<button onclick="getStats()">getStats</button>
<button onclick="addUser()">addUser</button>
<button onclick="getUser()">getUser</button>
<button onclick="getUserWithActiveAccs()">getUserWithActiveAccs</button>
<button onclick="setActive()">setActive</button>
<button onclick="getActive()">getActive</button>

<button onclick="delBkAcc(107)">del bk acc</button>
<button onclick="delUser(97)">del user</button>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    function getActive() {
        $.ajax({
            type: "GET",
            url: "/user.getActiveBkAccounts",
            data: {
                token: "c040e68c4d44c8f8c48746bca89c1b21"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function setActive() {
        $.ajax({
            type: "POST",
            url: "/user.setBkAccountActive",
            data: {
                token: "c040e68c4d44c8f8c48746bca89c1b21",
                bk_account_id: 220,
                isActive: false
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getUser() {
        $.ajax({
            type: "GET",
            url: "/get.user",
            data: {
                token: "c0e024d9200b5705bc4804722636378a",
                id: 112
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getUserWithActiveAccs() {
        $.ajax({
            type: "GET",
            url: "/get.userWithActiveBkAccounts",
            data: {
                token: "c0e024d9200b5705bc4804722636378a",
                id: 112
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addUser() {
        $.ajax({
            type: "POST",
            url: "/add.user",
            data: {
                //token: "699679f38595e51ed155a181f3270c85"
                token: "c040e68c4d44c8f8c48746bca89c1b21",
                login: "user",
                password: "ee11cbb19052e40b07aac0ca060c23ee",
                role: "USER",
                subscribe_end_date: "2020-09-28"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getStats() {
        $.ajax({
            type: "GET",
            url: "/user.getStats",
            data: {
                //token: "699679f38595e51ed155a181f3270c85"
                token: "c040e68c4d44c8f8c48746bca89c1b21"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getBetsSingle() {
        $.ajax({
            type: "GET",
            url: "/get.betsFromSingleBkAccount",
            data: {
                token: "699679f38595e51ed155a181f3270c85",
                bk_account_id: 6
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getBets() {
        $.ajax({
            type: "GET",
            url: "/get.bets",
            data: {
                token: "699679f38595e51ed155a181f3270c85"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addFork() {
        $.ajax({
            type: "POST",
            url: "/add.fork",
            data: {
                token: "c040e68c4d44c8f8c48746bca89c1b21",
                left_bk_account_id: 142,
                left_match_title: "some dota or cs match",
                left_team: "left team",
                left_market: "событие",
                left_coefficient: 2.3,
                left_bet_sum: 110,
                left_bet_date: "19.11.2020 14:34",
                left_is_success: true,

                right_bk_account_id: 144,
                right_match_title: "some dota or cs match",
                right_team: "right team",
                right_market: "событие",
                right_coefficient: 2.8,
                right_bet_sum: 90,
                right_bet_date: "19.11.2020 14:34",
                right_is_success: true
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addBet() {
        $.ajax({
            type: "POST",
            url: "/add.bet",
            data: {
                token: "699679f38595e51ed155a181f3270c85",
                bk_account_id: 6,
                match_title: "some dota or cs match",
                team: "some team",
                coefficient: 2.3,
                bet_sum: 500,
                bet_date: "2020-08-04"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getAllBk() {
        $.ajax({
            type: "GET",
            url: "/get.bookmakers",
            data: {
                token: "token228"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }

    function setBkAccBalance(acc_id, balance) {
        $.ajax({
            type: "POST",
            url: "/user.setBkAccountBalance",
            data: {
                token: "c040e68c4d44c8f8c48746bca89c1b21",
                bk_account_id: acc_id,
                balance: balance
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addBkAcc(url) {
        $.ajax({
            type: "POST",
            url: "/user.addBkAccount",
            data: {
                bkUrl: url,
                login: "bkLogin",
                password: "bkPassword",
                token: "6ce4fe2a5ca21919242536fe0343b4c3"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function delBkAcc(accID) {
        $.ajax({
            type: "POST",
            url: "/user.deleteBkAccount",
            data: {
                bk_account_id: accID,
                token: "b695ea133721bc5d2c3a55ef1408ecce"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function delUser(id) {
        $.ajax({
            type: "POST",
            url: "/delete.user",
            data: {
                user_id: id,
                token: "c0e024d9200b5705bc4804722636378a"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addBk(title, link) {
        $.ajax({
            type: "POST",
            url: "/add.bookmaker",
            data: {
                token: "token228",
                title: title,
                link: link
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }

    function login() {
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                login: "test1",
                password: "test"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function logout() {
        $.ajax({
            type: "POST",
            url: "/logout",
            data: {},
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function setSettings() {
        $.ajax({
            type: "POST",
            url: "/user.setSettings?token="+"4f6bf30ada0d6a0074d69d1b6dbe44ef",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                    forks_live_time_max: 10,
                    forks_live_time_min: 3,
                    fork_profit_percent_min: 5,
                    fork_profit_percent_max: 200,
                    fork_done_try_cooldown: 30,
                    fork_cancel_try_cooldown: 60,
                    fork_second_bet_timeout: 120,
                    fork_not_closed_cooldown: 120,
                    try_time_max: 360,
                    if_timeout_close_fork: false,
                    games: [
                        "CSGO",
                        "DOTA2",
                        "LoL"
                    ],
                    markets: [
                        "MatchWinner",
                        "MatchKillsTotal"
                    ],
                    rounding: 10,
                    bet_sum_min: 200,
                    bet_sum_max: 5000
                }
            ),
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }

    function setBkAccSettings() {
        $.ajax({
            type: "POST",
            url: "/user.setBkAccountSettings?token="+"4f6bf30ada0d6a0074d69d1b6dbe44ef" + "&bk_account_id=" + 1209,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({

                    cf_min: 1.8,
                    cf_max: 15.2,
                    cf_live_time: 10,
                    bet_sum_min: 200,
                    bet_sum_max: 5000,
                    place_bet_rule: 1
                }
            ),
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
</script>
</html>