<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<button onclick="login()">login</button>
<button onclick="logout()">logout</button>
<button onclick="getAllBk()"> get all bk</button>
<button onclick="addBk('ggbet', 'https://ggbet.ru')">add bk</button>
<button onclick="addBkAcc('https://ggbet.ru')">add bk acc</button>
<button onclick="setSettings()">setSettings</button>

<button onclick="setBkAccBalance(6, 20000)">set bk acc balance</button>
<button onclick="addBet()">addBet</button>
<button onclick="getBets()">get all bets</button>
<button onclick="getBetsSingle()">get single bk account bets</button>
<button onclick="addFork()">add fork</button>
<button onclick="getStats()">getStats</button>
<button onclick="addUser()">addUser</button>
<button onclick="getUser()">getUser</button>

<button onclick="delBkAcc(56)">del bk acc</button>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    function getUser() {
        $.ajax({
            type: "GET",
            url: "/get.user",
            data: {
                token: "token228",
                id: 4
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addUser() {
        $.ajax({
            type: "POST",
            url: "/add.user",
            data: {
                //token: "699679f38595e51ed155a181f3270c85"
                token: "token228",
                login: "user1",
                password: "098f6bcd4621d373cade4e832627b4f6",
                role: "USER",
                subscribe_end_date: "2020-09-28"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getStats() {
        $.ajax({
            type: "GET",
            url: "/get.users.stats",
            data: {
                //token: "699679f38595e51ed155a181f3270c85"
                token: "token228"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getBetsSingle() {
        $.ajax({
            type: "GET",
            url: "/get.betsFromSingleBkAccount",
            data: {
                token: "699679f38595e51ed155a181f3270c85",
                bk_account_id: 6
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getBets() {
        $.ajax({
            type: "GET",
            url: "/get.bets",
            data: {
                token: "699679f38595e51ed155a181f3270c85"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addFork() {
        $.ajax({
            type: "POST",
            url: "/add.fork",
            data: {
                token: "699679f38595e51ed155a181f3270c85",
                left_bk_account_id: 6,
                left_match_title: "some dota or cs match",
                left_team: "left team",
                left_coefficient: 2,
                left_bet_sum: 1000,
                left_bet_date: "2020-09-03",

                right_bk_account_id: 82,
                right_match_title: "some dota or cs match",
                right_team: "right team",
                right_coefficient: 7,
                right_bet_sum: 1000,
                right_bet_date: "2020-09-03"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addBet() {
        $.ajax({
            type: "POST",
            url: "/add.bet",
            data: {
                token: "699679f38595e51ed155a181f3270c85",
                bk_account_id: 6,
                match_title: "some dota or cs match",
                team: "some team",
                coefficient: 2.3,
                bet_sum: 500,
                bet_date: "2020-08-04"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function getAllBk() {
        $.ajax({
            type: "GET",
            url: "/get.bookmakers",
            data: {
                token: "token228"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }

    function setBkAccBalance(acc_id, balance) {
        $.ajax({
            type: "POST",
            url: "/user.setBkAccountBalance",
            data: {
                token: "699679f38595e51ed155a181f3270c85",
                bk_account_id: acc_id,
                balance: balance
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addBkAcc(url) {
        $.ajax({
            type: "POST",
            url: "/user.addBkAccount",
            data: {
                bkUrl: url,
                login: "bkLogin",
                password: "bkPassword",
                token: "6ce4fe2a5ca21919242536fe0343b4c3"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function delBkAcc(accID) {
        $.ajax({
            type: "POST",
            url: "/user.deleteBkAccount",
            data: {
                bk_account_id: accID,
                token: "df5e2d986b2c4bb7184f2c0261a816ca"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function addBk(title, link) {
        $.ajax({
            type: "POST",
            url: "/add.bookmaker",
            data: {
                token: "token228",
                title: title,
                link: link
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }

    function login() {
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                login: "test1",
                password: "test"
            },
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function logout() {
        $.ajax({
            type: "POST",
            url: "/logout",
            data: {},
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
    function setSettings() {
        $.ajax({
            type: "POST",
            url: "/user.setSettings?token="+"df5e2d986b2c4bb7184f2c0261a816ca",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                    balance_percent: 10,
                    forks_live_time_max: 10,
                    forks_live_time_min: 3,
                    games: [
                        "CSGO",
                        "DOTA2",
                        "LoL"
                    ],
                    markets: [
                        "MatchWinner",
                        "MatchKillsTotal"
                    ],
                    rounding: 10,
                    bet_sum_min: 300,
                    bet_sum_max: 10000
                }
            ),
            success: function(response) {
                console.log(response);
                console.log($.parseJSON(response));
            },
            error: function(response) {
                console.log('ERROR: ' + response);
                console.log($.parseJSON(response));
            }
        });
    }
</script>
</html>